.web-box {
  display: flex;
  justify-content: space-between;
  margin-right: 0px;
  margin-left: 0px;
}

body {
  overflow: hidden;
}

.scrollbar {
  overflow-y: scroll;
  max-height: 100vh;
}

.user-list {
  padding-left: 3em;
  padding-left: 20px;
  padding-right: 10px;
  background-color: #f6f9fb;
  height: 100vh;
  width: 25em;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.user-chat {
  width: calc(100vw - 25em);
  padding-right: 0px;
  overflow-x: hidden;
  /* background-color: #f6f9fb; */
}

@media only screen and (max-width: 850px) {
  .list-on {
    width: 100vw;
  }

  .list-off {
    display: none;
  }

  .chat-on {
    width: 100vw;
    margin: 0;
  }

  .chat-off {
    display: none;
  }
}
